<div class="page-content about-me">

    <div class="row">
        <div class="col-lg-5 profile-picture"
             ng-class="{'profile-picture-md': !largeDisplay, 'profile-picture-sm': smallDisplay}">

            <div class="profile-details">
                <div class="row">
                    <h4>Bernard Chung</h4>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        A self taught developer bent on making every repetitive task automated
                    </div>
                </div>

                <div class="row text-top-pad-sm">
                    <div class="col-md-4 font-small" ng-class="{'text-right': largeDisplay && !smallDisplay}">
                        (623) 252-6476
                    </div>
                    <div class="col-md-4 font-small text-center"
                         ng-class="{'col-left-border col-right-border': largeDisplay && !smallDisplay}">
                        <a href="mailto:neclamis1285@gmail.com?Subject=Possible%20Position">neclamis1285@gmail.com</a>
                    </div>
                    <div class="col-md-4 font-small" ng-class="{'text-left': largeDisplay && !smallDisplay}">Chandler,
                        AZ
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-7 content" ng-class="{'content-padding-sm': !largeDisplay || smallDisplay}">

            <div class="row">
                <h1>Family</h1>

                <p>
                    While small, my family keeps me going and drives me to be better every day. I have a beautiful wife
                    and
                    adorable 2 year old daughter. Life can be stressful but family helps to make it all worth it. It's
                    important
                    to have a constant positive in your life and if all else fails, family will always be that constant.
                </p>
            </div>

            <div class="row">
                <h1>Background</h1>

                <p>
                    Located in the northern area of South America, a somewhat developed country named Guyana, is my
                    place of
                    origin. I was born on November 7th 1984. Growing up I enjoyed the basics of any child; playing,
                    getting
                    into trouble, etc. Throughout my years I found myself interested in various topics such as art,
                    electrical, and finally into computers. My fascination with computers helped propel my knowledge of
                    it
                    because everything about it seemed "cool." As my interest developed I found myself exploring all
                    areas of
                    computers, from Graphics Design, Hardware Repair/Build, and finally into Development.
                </p>

                <p>
                    Development being my more recent interest, has become more or less a passion that drives me to
                    always
                    want to do more with it. I'm intrigued by my ability to create something that I can later be proud
                    of
                    and want to continue on that path. It's also very comforting knowing that I have created something
                    that
                    was helpful to someone else. My motto is "Don't do it the hard way, do it the Nard way" ("Nard"
                    being a nick
                    name of mine). I believe that any task can be simplified and made better with the use of
                    technology and
                    I aim to show that to the world.
                </p>
            </div>

            <div class="row">
                <h1>Hobbies</h1>

                <p>
                    While not a big fan of the extra-curricular, I enjoy spending time outdoors with my daughter,
                    driving around
                    town sight-seeing with my wife, occasionally playing video games and watching some light television.
                </p>
            </div>

        </div>
    </div>

</div>