<div class="page-content portfolio">

    <div class="row">
        <div class="col-md-8">
            <a href="app/images/portfolio/photographic_passion.jpg" class="image-zoom">
                <div style="background-image: url(app/images/portfolio/photographic_passion.jpg)" class="port-img-div"></div>
                <span class="port-details">
                    <span class="port-title">Photographic Passion</span>
                    <p class="port-description">
                        My first public facing website built for my photographer to display her talents in a more
                        interactive form.
                    </p>
                </span>
            </a>
        </div>
        <div class="col-md-4">
            <a href="app/images/portfolio/ace.png" class="image-zoom">
                <div style="background-image: url(app/images/portfolio/ace.png)" class="port-img-div"></div>
                <span class="port-details">
                    <span class="port-title">ACE</span>
                    <p class="port-description">
                        An application used for storing recruitment data. This application was created in ExtJS.
                    </p>
                </span>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <a href="app/images/portfolio/arc.jpg" class="image-zoom">
                <div style="background-image: url(app/images/portfolio/arc.jpg)" class="port-img-div"></div>
                <span class="port-details">
                    <span class="port-title">ARC</span>
                    <p class="port-description">
                        An application used for managing IT assets such as Inventory, Telecom (CellPhones, Mifi Cards,
                        etc)
                        and Email Management.
                    </p>
                </span>
            </a>
        </div>
        <div class="col-md-9">
            <a href="app/images/portfolio/jager_inc.jpg" class="image-zoom">
                <div style="background-image: url(app/images/portfolio/jager_inc.jpg)" class="port-img-div"></div>
                <span class="port-details">
                    <span class="port-title">JagerInc</span>
                    <p class="port-description">
                        My second public facing website created to display various kitchen cabinet options that can be
                        used
                        in kitchen construction.
                    </p>
                </span>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <a href="app/images/portfolio/air.jpg" class="image-zoom">
                <div style="background-image: url(app/images/portfolio/air.jpg)" class="port-img-div"></div>
                <span class="port-details">
                    <span class="port-title">AIR</span>
                    <p class="port-description">
                        Created for display reports in chart and tabular format with the ability to export to PDF.
                    </p>
                </span>
            </a>
        </div>
        <div class="col-md-6">
            <a href="app/images/portfolio/purchasing.jpg" class="image-zoom">
                <div style="background-image: url(app/images/portfolio/purchasing.jpg)" class="port-img-div"></div>
                <span class="port-details">
                    <span class="port-title">Purchasing</span>
                    <p class="port-description">
                        Used for keeping track of purchases made in the company.
                    </p>
                </span>
            </a>
        </div>
    </div>

</div>