<div class="page-content resume">

    <div class="row">
        <h1>Objective</h1>

        <p>
            Motivated and forward thinking individual seeking employment with your company with the possibility for
            future growth and development.
        </p>
    </div>

    <div class="row">
        <h1>Education</h1>

        <ul class="fa-ul">
            <li><i class="fa-li fa fa-pencil"></i>Mesa Community College, Mesa, AZ (Spring and Fall Semesters 2003)</li>
            <li><i class="fa-li fa fa-pencil"></i>Montclair State University, Montclair, NJ (Fall Semester 2002)</li>
            <li><i class="fa-li fa fa-pencil"></i>Malcolm X Shabazz High School, Newark, NJ (Graduated with Honors June
                2002)
            </li>
        </ul>
    </div>

    <div class="experience">

        <div class="row text-left">
            <h1>Experience</h1>
        </div>

        <div class="row">

            <div class="col-lg-4" ng-class="{'row-top-border-dotted text-top-pad-sm': !largeDisplay || smallDisplay}">
                <h4>October 2011 - October 2015</h4>
            </div>

            <div class="col-lg-8" ng-class="{'col-left-border': largeDisplay && !smallDisplay}">
                <h4><i class="fa fa-coffee"></i> Web Developer</h4>
                <h5>Apogee Physicians (Phoenix, AZ)</h5><br>

                <p>
                    I worked on several web applications utilizing frameworks such as AngularJS, ExtJS, jQuery, NodeJS,
                    Bootstrap and Sequelize. I'm also proficient in CSS, HTML, MySQL and PostgreSQL. I have used
                    IntelliJ, Eclipse and WebStorm as well.
                </p>

                <p>In this position I was responsible to creating and updating web applications using the following
                    technologies</p>
                <ul>
                    <li>AngularJs</li>
                    <li>ExtJS</li>
                    <li>jQuery</li>
                    <li>NodeJs</li>
                    <li>CSS3</li>
                    <li>HTML5</li>
                    <li>MySQL</li>
                    <li>PostgreSQL</li>
                    <li>Java</li>
                    <li>AngularJs</li>
                    <li>Spring</li>
                    <li>JDBC</li>
                    <li>GIT</li>
                    <li>SVN</li>
                </ul>

                <p>
                    I have worked in and created applications for Reporting, IT Management using Rackspace API, LDAP,
                    Google Contacts, etc. I have also participated heavily in our Recruiting application used for
                    capturing various pieces of information on incoming Physicians into our company.

                </p>
            </div>

        </div>

        <div class="row">

            <div class="col-lg-4"
                 ng-class="{'row-top-border-dotted text-top-pad-sm': !largeDisplay || smallDisplay}">
                <h4>October 2007 - October 2011</h4>
            </div>

            <div class="col-lg-8"
                 ng-class="{'col-left-border row-top-border': largeDisplay && !smallDisplay}">
                <h4><i class="fa fa-mobile"></i> Telecom Administrator/ IT Systems Support</h4>
                <h5>Apogee Physicians (Phoenix, AZ)</h5><br>

                <p>
                    I was responsible for the management of all cell phones and pagers within the company, including
                    ordering these products and managing the wireless bills. I also configured and troubleshoot PDAs. In
                    addition, I was responsible for all PC related issues, for the entire company of an estimated 400
                    employees, which included Office applications, Peachtree, Thunderbird, Windows 2000, XP, Vista, and
                    MAC. I did some minor developments in VB.NET, VBA, and VBScript at the time and maintained and setup
                    Windows 2003 File, LDAP, Microsoft VPN, Domain Controller, Active Directory servers and more. I have
                    even managed and maintained backups utilizing Acronis Echo Enterprise Server and EMC Retrospect.
                </p>
            </div>

        </div>

        <div class="row">

            <div class="col-lg-4"
                 ng-class="{'row-top-border-dotted text-top-pad-sm': !largeDisplay || smallDisplay}">
                <h4>May 2007 - October 2007</h4>
            </div>

            <div class="col-lg-8"
                 ng-class="{'col-left-border row-top-border': largeDisplay && !smallDisplay, 'row-bottom-border-dotted': !largeDisplay || smallDisplay}">
                <h4><i class="fa fa-laptop"></i> Computer Technician</h4>
                <h5>OnsiteOne Solutions (Gilbert, AZ)</h5><br>

                <p>
                    I traveled around the valley repairing and cleaning computers of Spyware, Viruses and Adware. I also
                    trained clients on how to use various applications such as Microsoft Office. I built custom
                    computers as well for clients and set them up at their locations.
                </p>
            </div>

        </div>

    </div>

    <div class="skills">

        <div class="row">
            <h1>Software Skills</h1>

            <ul class="fa-ul">
                <li>
                    <i class="fa-li fa fa-cloud"></i>

                    <div>Javascript</div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 85%;">
                        </div>
                    </div>
                </li>

                <li>
                    <i class="fa-li fa fa-cloud"></i>

                    <div>AngularJS</div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 75%;">
                        </div>
                    </div>
                </li>

                <li>
                    <i class="fa-li fa fa-cloud"></i>

                    <div>ExtJs</div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 75%;">
                        </div>
                    </div>
                </li>

                <li>
                    <i class="fa-li fa fa-cloud"></i>

                    <div>jQuery</div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 70%;">
                        </div>
                    </div>
                </li>

                <li>
                    <i class="fa-li fa fa-cloud"></i>

                    <div>NodeJs</div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 60%;">
                        </div>
                    </div>
                </li>

                <li>
                    <i class="fa-li fa fa-cloud"></i>

                    <div>CSS</div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 90%;">
                        </div>
                    </div>
                </li>

                <li>
                    <i class="fa-li fa fa-cloud"></i>

                    <div>BootStrap</div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 60%;">
                        </div>
                    </div>
                </li>

                <li>
                    <i class="fa-li fa fa-cloud"></i>

                    <div>HTML</div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 70%;">
                        </div>
                    </div>
                </li>

                <li>
                    <i class="fa-li fa fa-cloud"></i>

                    <div>Java</div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 40%;">
                        </div>
                    </div>
                </li>

                <li>
                    <i class="fa-li fa fa-cloud"></i>

                    <div>C#</div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 50%;">
                        </div>
                    </div>
                </li>

                <li>
                    <i class="fa-li fa fa-cloud"></i>

                    <div>PostgreSQL</div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 70%;">
                        </div>
                    </div>
                </li>

                <li>
                    <i class="fa-li fa fa-cloud"></i>

                    <div>MySQL</div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 50%;">
                        </div>
                    </div>
                </li>

                <li>
                    <i class="fa-li fa fa-cloud"></i>

                    <div>Adobe Photoshop</div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 60%;">
                        </div>
                    </div>
                </li>

                <li>
                    <i class="fa-li fa fa-cloud"></i>

                    <div>Microsoft Office Suite 2007-2016</div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 70%;">
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="row">
            <h1>Hardware Skills</h1>

            <ul class="fa-ul">
                <li><i class="fa-li fa fa-desktop"></i>Custom built and configured multiple desktop computers</li>
                <li><i class="fa-li fa fa-desktop"></i>Repaired, serviced, and installed components on both personal and
                    client computers which have included installing hard drives, CD and floppy drives, motherboards,
                    memory, processors, modems, Ethernet, graphic, and sound cards
                </li>
            </ul>
        </div>

    </div>

    <div class="row bottom-margin-lg">
        <h1>References</h1>

        <p>Available upon request</p>
    </div>

</div>