// region Colors

//$default-page-background-color: white;
//$default-title-bar-background-color: #006caf;
//$default-button-background-color: #006caf;
//$default-button-hover-background-color: #333333;
//$default-button-color: #FFFFFF;
//$default-border-color: #CFD5D8;
//$default-header-background-color: #EDF0F0;
//$default-input-field-background-color: white;
//$default-date-field-trigger-color: #7C7C7C;
//$default-combo-box-border-color: #d9d9d9;
//$default-combo-box-trigger-color: #7C7C7C;
//$default-combo-box-selected-item-color: #E5E5E5;
//$default-combo-box-bound-list-background-color: #ffffff;
//$default-required-field-color: #EE3636;
//$default-font-color-darker: #555555;
//$default-place-holder-items-background-color: #BBBBBB;
//$default-grid-header-background-color: #FAFAFA;
//$default-grid-header-border-color: #EEEEEE;
//$default-grid-row-border-color: #EFEFEF;
//$header-background: #0AB376;
//$page-header-background-color: #F5F8FA;
//$navigation-toggle-button-background-color: #011726;
//$navigation-bar-background-color: #293540;
//$navigation-bar-brand-color: #50B04F;
//$navigation-search-field-background-color: #3E4E5B;
//$navigation-log-out-button-background-color: #3E4E5B;
//$navigation-log-out-button-color: #EDF0F0;
//$navigation-default-font-color: #EDF0F0;
//$navigation-sub-menu-caret-color: #EDF0F0;
//$button-background-color: #12A3FE;
//$button-hover-background-color: #50B04F;
//$default-darker-border-color: #CCCCCC;
//$default-divider-color: #50B04F;
//$form-section-color: #63686A;
//$form-section-divider-border-color: #EDEEEE;
//$default-warning-color: #ff5640;
//$smart-table-header-background: #FAFAFA;
//$smart-table-header-border: #EEEEEE;
//$smart-table-row-background: white;

// endregion

// region Theme

$default-font-color: #949B9D;
$default-input-focus-border-color: #50B04F;
$default-border-color: #dddddd;
$page-background-color: white;
$header-background: #27C3E5;
$header-color: white;
$mobile-menu-background: #24CE83;
$show-menu-link-color: white;
$navigation-link-color: white;
$timeline-color: white;
$resume-fa-icon-color: #27C3E5;
$resume-border: #27C3E5;
$progress-bar-background: #27C3E5;
$portfolio-title-background: #4FAA38;

// endregion

// region Dimensions

$default-button-height: 42px;
$default-input-height: 35px;

// endregion

// region Mixins

@mixin no-box-shadow {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

@mixin no-text-shadow {
  text-shadow: none;
}

@mixin input-box-shadow {

  border-color: $default-input-focus-border-color !important;
  -webkit-box-shadow: -2px 2px 22px -5px rgba(80, 176, 79, 1) !important;
  -moz-box-shadow: -2px 2px 22px -5px rgba(80, 176, 79, 1) !important;
  box-shadow: -2px 2px 22px -5px rgba(80, 176, 79, 1) !important;

}

@mixin default-font {

  font-family: 'PMN Caecilia 45 Light', 'PT Serif', serif, 'Lucida Grande', Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;

}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius !important;
  -moz-border-radius: $radius !important;
  -ms-border-radius: $radius !important;
  border-radius: $radius !important;
}

@mixin border-radius-top($radius) {
  -webkit-border-top-left-radius: $radius !important;
  -webkit-border-top-right-radius: $radius !important;
  -moz-border-radius-topleft: $radius !important;
  -moz-border-radius-topright: $radius !important;
  border-top-left-radius: $radius !important;
  border-top-right-radius: $radius !important;
}

@mixin border-radius-right($radius) {
  -webkit-border-top-right-radius: $radius !important;
  -webkit-border-bottom-right-radius: $radius !important;
  -moz-border-radius-topright: $radius !important;
  -moz-border-radius-bottomright: $radius !important;
  border-top-right-radius: $radius !important;
  border-bottom-right-radius: $radius !important;
}

@mixin border-radius-bottom($radius) {
  -webkit-border-bottom-right-radius: $radius !important;
  -webkit-border-bottom-left-radius: $radius !important;
  -moz-border-radius-bottomright: $radius !important;
  -moz-border-radius-bottomleft: $radius !important;
  border-bottom-right-radius: $radius !important;
  border-bottom-left-radius: $radius !important;
}

@mixin border-radius-left($radius) {
  -webkit-border-top-left-radius: $radius !important;
  -webkit-border-bottom-left-radius: $radius !important;
  -moz-border-radius-topleft: $radius !important;
  -moz-border-radius-bottomleft: $radius !important;
  border-top-left-radius: $radius !important;
  border-bottom-left-radius: $radius !important;
}

@mixin border-radius-top-right($radius) {
  -webkit-border-top-right-radius: $radius !important;
  -moz-border-radius-topright: $radius !important;
  border-top-right-radius: $radius !important;
}

@mixin border-radius-top-left($radius) {
  -webkit-border-top-left-radius: $radius !important;
  -moz-border-radius-topleft: $radius !important;
  border-top-left-radius: $radius !important;
}

@mixin border-radius-bottom-right($radius) {
  -webkit-border-bottom-right-radius: $radius !important;
  -moz-border-radius-bottomright: $radius !important;
  border-bottom-right-radius: $radius !important;
}

@mixin border-radius-bottom-left($radius) {
  -webkit-border-bottom-left-radius: $radius !important;
  -moz-border-radius-bottomleft: $radius !important;
  border-bottom-left-radius: $radius !important;
}

@mixin center-page() {

  margin: 0 auto;

}

.font-awesome-icon {

  position: relative;

  &:before {

    position: absolute;
    font-family: FontAwesome;
    top: 0;
    right: 0;
    content: '\f0a9';

  }

}

// endregion

// region General

@font-face {

  font-family: 'PMN Caecilia 45 Light';
  src: url('../fonts/PMN_Caecilia_45_Light.ttf') format('truetype');

}

h1, h2, h3, h4, h5 {

  font-family: 'PMN Caecilia 45 Light';
  font-weight: 500;

}

h5 {

  font-size: 16px;

}

* {

  color: $default-font-color;
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  @include default-font;

}

*:focus {

  outline: 0 !important;

}

a, i {

  text-decoration: none;
  outline: 0;
  border: 0;
  @include no-box-shadow;

  &:focus, &:hover {

    text-decoration: none;
    outline: none;

  }

}

html, body {

  background: $page-background-color;
  margin: 0;
  padding: 0;
  min-height: 100%;

}

input[type="text"], input[type="password"], textarea {

  outline: none;
  border: none;
  @include no-box-shadow;
  -webkit-appearance: none;
  color: $default-font-color;

  &:focus {

    @include input-box-shadow;
    background: white !important;

  }

}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
select:-webkit-autofill {

  transition: background-color 5000s ease-in-out 0s !important;
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;

}

.col-center {

  margin: 0 auto;

}

.col-left-border {

  border-left: 1px solid $resume-border;

}

.col-right-border {

  border-right: 1px solid $resume-border;

}

.col-left-border-dotted {

  border-left: 1px dotted $resume-border;

}

.col-right-border-dotted {

  border-right: 1px dotted $resume-border;

}

.col-padding {

  padding-left: 15px;
  padding-right: 15px;

}

.overlay {

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: red;

}

.text-top-pad-sm {

  padding-top: 10px;

}

.text-top-pad {

  padding-top: 20px;

}

.text-top-pad-md {

  padding-top: 30px;

}

.text-top-pad-lg {

  padding-top: 50px;

}

.row-border-dotted {

  border-top: 1px dotted $resume-border;
  border-bottom: 1px dotted $resume-border;

}

.row-top-border {

  border-top: 1px solid $resume-border;

}

.row-top-border-dotted {

  border-top: 1px dotted $resume-border;

}

.row-bottom-border {

  border-bottom: 1px solid $resume-border;

}

.row-bottom-border-dotted {

  border-bottom: 1px dotted $resume-border;

}

.bottom-margin-lg {

  margin-bottom: 50px;

}

.img-circle {

  border-radius: 50%;

}

.font-small {

  font-size: 13px;

}

// endregion

// region Header

.header {

  padding: 20px;
  background: $header-background;

  span {

    color: $header-color;
    font-size: 20px;

  }

}

// endregion

// region Navigation

.show-menu-button {

  padding: 0;
  background: transparent;
  border: none;
  font-size: 23px;
  position: fixed;
  left: 20px;
  top: 19px;
  color: $show-menu-link-color;
  @include no-box-shadow;

}

.snap-drawers {

  background: $mobile-menu-background;

  snap-drawer {

    padding: 20px;

    li {

      padding-bottom: 10px;

    }

    a, a:visited, a:active, a:focus {

      color: $navigation-link-color;
      font-size: 15px;

    }

  }

}

.snap-content {

  background: $page-background-color;

}

// endregion

// region TimeLine

.timeline-text-icon {

  line-height: 50px;
  vertical-align: middle;
  text-align: center;
  color: $timeline-color;

}

// endregion

// region Page Content

.page-view {

  padding: 20px;

}

.page-content {

  padding: 20px 20px 0 20px;
  max-width: 1280px;

  @include center-page;

}

.about-me {

  h1 {

    padding-bottom: 20px;
    border-bottom: 1px dotted $default-border-color;

  }

  h4 {

    .fa-stack {

      font-size: 20px;

    }

  }

  margin-top: 30px;

  a, a:hover, a:visited, a:focus {

    color: white;

  }

  .profile-picture {

    background: url('../images/main/profile.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 650px;
    margin-bottom: 30px;
    -webkit-box-shadow: inset 0px -200px 94px -38px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px -200px 94px -38px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px -200px 94px -38px rgba(0, 0, 0, 0.75);

  }

  .profile-picture-md {

    background-position: center top;
    background-size: 100%;

  }

  .profile-picture-sm {

    background-position: center top !important;
    background-size: cover;

  }

  .content {

    padding: 0 20px 0 50px;

    .row:first-child h1 {

      margin-top: 0;

    }

    .row {

      margin-right: 0;
      margin-left: 0;

    }

  }

  .content-padding-sm {

    padding: 20px;

  }

  .profile-details {

    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;
    text-align: center;

    div {

      color: white;
      border-color: $default-border-color;

    }

  }

}

.portfolio {

  [class*='col'] {

    padding: 2px;
    position: relative;

    &:hover {

      .port-details {

        max-height: 300px;
        height: 300px;
        opacity: 1;

      }

      .port-description {

        display: block;
        color: white;
        font-size: 14px;
        padding-top: 20px;

      }

    }

  }

  .port-img-div {

    height: 300px;
    background-position: center top;
    background-size: cover;

  }

  .port-title {

    color: white;
    font-size: 15px;
    font-weight: bold;

  }

  .port-details {

    position: absolute;
    background: $portfolio-title-background;
    opacity: 0.9;
    left: 2px;
    bottom: 0;
    margin-bottom: 2px;
    width: 100%;
    border-right: 4px solid white;
    padding: 20px;
    max-height: 60px;
    -webkit-transition: max-height 0.2s ease;
    -moz-transition: max-height 0.2s ease;
    -o-transition: max-height 0.2s ease;
    transition: max-height 0.2s ease;

  }

  .port-description {

    display: none;

  }

}

.resume {

  line-height: 250%;

  .fa-li {

    color: $resume-fa-icon-color;

  }

  .fa-ul {

    .fa-li {

      line-height: 250%;

    }

  }

  .experience {

    .fa {

      color: $resume-fa-icon-color;
      font-size: 29px;

    }

  }

  .row-no-left-padding {

    padding-left: 0;

  }

  .skills {

    padding-top: 40px;

  }

  .progress {

    width: 300px;
    height: 8px;
    margin-bottom: 5px;

    .progress-bar {

      background: $progress-bar-background;

    }

  }

}

// endregion