.font-awesome-icon {
  position: relative; }
  .font-awesome-icon:before {
    position: absolute;
    font-family: FontAwesome;
    top: 0;
    right: 0;
    content: '\f0a9'; }

@font-face {
  font-family: 'PMN Caecilia 45 Light';
  src: url("../fonts/PMN_Caecilia_45_Light.ttf") format("truetype"); }
h1, h2, h3, h4, h5 {
  font-family: 'PMN Caecilia 45 Light';
  font-weight: 500; }

h5 {
  font-size: 16px; }

* {
  color: #949B9D;
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  font-family: 'PMN Caecilia 45 Light', 'PT Serif', serif, 'Lucida Grande', Arial, sans-serif;
  font-weight: 400;
  font-size: 13px; }

*:focus {
  outline: 0 !important; }

a, i {
  text-decoration: none;
  outline: 0;
  border: 0;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important; }
  a:focus, a:hover, i:focus, i:hover {
    text-decoration: none;
    outline: none; }

html, body {
  background: white;
  margin: 0;
  padding: 0;
  min-height: 100%; }

input[type="text"], input[type="password"], textarea {
  outline: none;
  border: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-appearance: none;
  color: #949B9D; }
  input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
    border-color: #50B04F !important;
    -webkit-box-shadow: -2px 2px 22px -5px #50b04f !important;
    -moz-box-shadow: -2px 2px 22px -5px #50b04f !important;
    box-shadow: -2px 2px 22px -5px #50b04f !important;
    background: white !important; }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
select:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s !important;
  -webkit-box-shadow: 0 0 0px 1000px white inset !important; }

.col-center {
  margin: 0 auto; }

.col-left-border {
  border-left: 1px solid #27C3E5; }

.col-right-border {
  border-right: 1px solid #27C3E5; }

.col-left-border-dotted {
  border-left: 1px dotted #27C3E5; }

.col-right-border-dotted {
  border-right: 1px dotted #27C3E5; }

.col-padding {
  padding-left: 15px;
  padding-right: 15px; }

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: red; }

.text-top-pad-sm {
  padding-top: 10px; }

.text-top-pad {
  padding-top: 20px; }

.text-top-pad-md {
  padding-top: 30px; }

.text-top-pad-lg {
  padding-top: 50px; }

.row-border-dotted {
  border-top: 1px dotted #27C3E5;
  border-bottom: 1px dotted #27C3E5; }

.row-top-border {
  border-top: 1px solid #27C3E5; }

.row-top-border-dotted {
  border-top: 1px dotted #27C3E5; }

.row-bottom-border {
  border-bottom: 1px solid #27C3E5; }

.row-bottom-border-dotted {
  border-bottom: 1px dotted #27C3E5; }

.bottom-margin-lg {
  margin-bottom: 50px; }

.img-circle {
  border-radius: 50%; }

.font-small {
  font-size: 13px; }

.header {
  padding: 20px;
  background: #27C3E5; }
  .header span {
    color: white;
    font-size: 20px; }

.show-menu-button {
  padding: 0;
  background: transparent;
  border: none;
  font-size: 23px;
  position: fixed;
  left: 20px;
  top: 19px;
  color: white;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important; }

.snap-drawers {
  background: #24CE83; }
  .snap-drawers snap-drawer {
    padding: 20px; }
    .snap-drawers snap-drawer li {
      padding-bottom: 10px; }
    .snap-drawers snap-drawer a, .snap-drawers snap-drawer a:visited, .snap-drawers snap-drawer a:active, .snap-drawers snap-drawer a:focus {
      color: white;
      font-size: 15px; }

.snap-content {
  background: white; }

.timeline-text-icon {
  line-height: 50px;
  vertical-align: middle;
  text-align: center;
  color: white; }

.page-view {
  padding: 20px; }

.page-content {
  padding: 20px 20px 0 20px;
  max-width: 1280px;
  margin: 0 auto; }

.about-me {
  margin-top: 30px; }
  .about-me h1 {
    padding-bottom: 20px;
    border-bottom: 1px dotted #dddddd; }
  .about-me h4 .fa-stack {
    font-size: 20px; }
  .about-me a, .about-me a:hover, .about-me a:visited, .about-me a:focus {
    color: white; }
  .about-me .profile-picture {
    background: url("../images/main/profile.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 650px;
    margin-bottom: 30px;
    -webkit-box-shadow: inset 0px -200px 94px -38px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px -200px 94px -38px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px -200px 94px -38px rgba(0, 0, 0, 0.75); }
  .about-me .profile-picture-md {
    background-position: center top;
    background-size: 100%; }
  .about-me .profile-picture-sm {
    background-position: center top !important;
    background-size: cover; }
  .about-me .content {
    padding: 0 20px 0 50px; }
    .about-me .content .row:first-child h1 {
      margin-top: 0; }
    .about-me .content .row {
      margin-right: 0;
      margin-left: 0; }
  .about-me .content-padding-sm {
    padding: 20px; }
  .about-me .profile-details {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;
    text-align: center; }
    .about-me .profile-details div {
      color: white;
      border-color: #dddddd; }

.portfolio [class*='col'] {
  padding: 2px;
  position: relative; }
  .portfolio [class*='col']:hover .port-details {
    max-height: 300px;
    height: 300px;
    opacity: 1; }
  .portfolio [class*='col']:hover .port-description {
    display: block;
    color: white;
    font-size: 14px;
    padding-top: 20px; }
.portfolio .port-img-div {
  height: 300px;
  background-position: center top;
  background-size: cover; }
.portfolio .port-title {
  color: white;
  font-size: 15px;
  font-weight: bold; }
.portfolio .port-details {
  position: absolute;
  background: #4FAA38;
  opacity: 0.9;
  left: 2px;
  bottom: 0;
  margin-bottom: 2px;
  width: 100%;
  border-right: 4px solid white;
  padding: 20px;
  max-height: 60px;
  -webkit-transition: max-height 0.2s ease;
  -moz-transition: max-height 0.2s ease;
  -o-transition: max-height 0.2s ease;
  transition: max-height 0.2s ease; }
.portfolio .port-description {
  display: none; }

.resume {
  line-height: 250%; }
  .resume .fa-li {
    color: #27C3E5; }
  .resume .fa-ul .fa-li {
    line-height: 250%; }
  .resume .experience .fa {
    color: #27C3E5;
    font-size: 29px; }
  .resume .row-no-left-padding {
    padding-left: 0; }
  .resume .skills {
    padding-top: 40px; }
  .resume .progress {
    width: 300px;
    height: 8px;
    margin-bottom: 5px; }
    .resume .progress .progress-bar {
      background: #27C3E5; }

/*# sourceMappingURL=app.css.map */
